<div class="container large-container">
    <div class="row">
        <div class="col-md-12 vertical-offset-30">
            <h4 class="">Project List </h4>
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="search-query form-control" placeholder="Search..." ng-model="projectFilter" />
                    <span class="input-group-btn">
            <button type="button" ng-click="" class="btn btn-primary">{{showAll ? "Hide": "Show"}} All</button>
          </span>
                </div>
            </div>
            <hr />
            <div class="left-info-fixed">
                <div><img style="width:100%;" ng-hide="loaded" src="../css/images/loading.gif" /> </div>
                <ul class="list-group">
                    <a class="list-group-item custom-list-group-item" ng-repeat="project in projectList | filter: projectFilter" ng-click="openProject(project)">
                        <!--<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#investInProjectModal" ng-click="open()">Back</button>-->
                        <p class="pull-right text-right">Ends: {{project.deadline | date: "dd MMM yyyy 'at' HH:mm"}}</p>

                        <h3 class="list-group-item-heading">{{project.title}}</h3>
                        <p class=""><i>{{project.address}}</i></p>
                        <p class="text-mute">Goal reached: <span class="label" ng-class=" project.goalReached ? 'label-success' : 'label-warning'">{{project.goalReached}}</span></p>
                        <hr />
                        <p class="">
                            <b>Description:</b><br/> {{project.description}}
                        </p>
                        <span><b>Campaing progress:</b></span>
                        <div class="progress-custom lg w3-light-grey">
                            <div class="color-blue progress-bar-custom" ng-style="{width: project.finalFundings/project.fundingGoal*100 +'%'}">{{project.finalFundings/project.fundingGoal*100 | number : 1}}%</div>
                        </div>

                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>